<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PInvoke.AdvApi32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.BCrypt" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Crypt32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.DbgHelp" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.DwmApi" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Gdi32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Hid" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.ImageHlp" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Kernel32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Msi" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.NCrypt" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.NetApi32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.NTDll" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Psapi" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.SetupApi" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.SHCore" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Shell32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.User32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Userenv" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.UxTheme" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Win32" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Windows.Core" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.Windows.ShellScalingApi" version="0.4.10" targetFramework="net452" />
  <package id="PInvoke.WtsApi32" version="0.4.10" targetFramework="net452" />
</packages>